.movieCard {
  flex-shrink: 0;
  
  width: 250px; 
  height: 375px; 

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
  cursor: pointer;
}

.movieCard:hover {
  transform: scale(1.05); 
}

.poster {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  display: block;
}